.start-page {
  margin-top: 50px;
}
button.pg-start-btns {
    margin: 0 8px;
}
.over-start, .add-btns {
    text-align: center;
    margin-top: 20px;
}
.added {
  margin-top: 18px;
  border-bottom: 1px solid #eee;
}
.added a {
  cursor: pointer;
}
.added ul {
  list-style-type: none;
  padding: 0;
}
