.start-page {
  margin-top: 50px;
}
button.pg-start-btns {
    margin: 0 8px;
}
.over-start, .add-btns {
    text-align: center;
    margin-top: 20px;
}
.added {
  margin-top: 18px;
  border-bottom: 1px solid #eee;
}
.added a {
  cursor: pointer;
}
.added ul {
  list-style-type: none;
  padding: 0;
}
.counts-added.added .glyphicon {
    font-size: 15px;
    cursor: pointer;
}
.counts-added.added span.badge {
    margin-left: 6px;
}
.counts-added.added h4 {
  cursor: pointer;
}
#start-modal .modal-body {
  text-align: left;
}
.counts-added.added ul li {
    margin-top: 8px;
}
