.start-page {
  margin-top: 50px;
}
button.pg-start-btns {
    margin: 0 8px;
}
.over-start, .add-btns {
    text-align: center;
    margin-top: 20px;
}
.added {
  margin-top: 18px;
  border-bottom: 1px solid #eee;
}
.added a {
  cursor: pointer;
}
.added ul {
  list-style-type: none;
  padding: 0;
}
.counts-added.added .glyphicon {
    font-size: 15px;
    cursor: pointer;
}
.counts-added.added span.badge {
    margin-left: 6px;
}
.counts-added.added h4 {
  cursor: pointer;
}
#start-modal .modal-body {
  text-align: left;
}
.counts-added.added ul li {
    margin-top: 8px;
}
.form-group {
  position: relative;
}
.relatedBanks {
    border: 1px solid #eee;
    position: absolute;
    width: 100%;
    top: 58px;
    background-color: #fff;
    /*padding: 8px 0px;*/
}
.relatedBanks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.relatedBanks ul li {
  padding: 7px 30px;
  /*margin-top: 4px;*/
  border-bottom: 1px solid #eee;
}
.relatedBanks ul li:hover {
  cursor: pointer;
  background-color: #eee;
}
